<main>
  <section class="main-content">
    <div class="left-col">
      <h2 class="hero-header">Reviews and Testimonials of NLM Photography Sessions</h2>
      <img src="./assets/experience-banner.jpg" alt="Capture Life!" class="hero-img">
      <p class="hero-text">
        “With the little time she had and the amount of people she was working with I dont think anyone could have done a better job! We havent received all our pictures back but we loved our engagment photos and the sneek peek pictures she has sent us from the wedding. I will continue to use Natasha over and over for future events!”
        <span class="quote-label"> -- Katie</span>
      </p>
      <p class="hero-text">
        “Amazing photographer!!!! Has done all my photos from engagement to wedding, newborn to all family photos! Quality is amazing and she treats you like family! Highly recommended!!”
        <span class="quote-label"> -- Holl</span>
      </p>
    </div>
    <div class="right-col">
      <img class="sm-note-img" src="./assets/small-note.jpg" alt="Decorative Image">

      <p class="content-text">
        We love our wedding photos! Having two photographers on site made for wonderful "posed" pictures, as well as getting shots of other miscellaneous things that happened that we might have missed in the moment. Both photographers paid a lot of attention to detail and planned out pictures to suit the personalities of the entire wedding party. They turned out beautiful and I'm so excited to receive our photo book!
        <span class="quote-label"> -- Anonymous</span>
      </p>
      <p class="content-text">
        “I absolutely loved our photographer! Natasha went above and beyond anything I could dream of for my wedding and engagement photos. I had research some cute photo ideas for both the engagement photo shoot and wedding during both events she took out the email I sent her and replicated all the photos that I wanted and then some. My husband kept saying how he isn't photogenic and she made both of us look like a million bucks on these photos. During the ceremony and reception I barely even noticed she or the other photographer were there. She was polite, professional, flexible, and just amazing to work with. I will be using her services for family, baby, Christmas photos in the future for sure. I am hooked on this photographer!”
        <span class="quote-label"> -- Anonymous</span>
      </p>
      <p class="content-text">
        “One word to describe NLM...amazing! Both photographers took such great care to ensure that our special day was captured in an artistic, and photo-journalistic manner. I was thoroughly impressed with the pictures that I saw from the preview. Thank you, thank you, thank you NLM!!! I will gladly recommend you to other couples!”
        <span class="quote-label"> -- Jason</span>
      </p>
    </div>
  </section>
</main>
