<main>
  <section class="main-content">
    <div class="left-col">
      <img class="hero-img" src="./assets/experience-banner.jpg" alt="An enthusiastic wedding party posing around the bride and groom.">
    </div>
    <div class="right-col">
      <img class="sm-note-img" src="./assets/small-note.jpg" alt="Decorative Image">
      <h2 class="content-header">Nostrud nusquam suscipit pro cu, quod ludus senserit ne eam, ad mei dicunt epicuri.</h2>
      <p class="content-text">
        NLM Photography is a small custom, personal based photography company. Let NLM Photography light up your life by capturing your most precious moments to hold onto and cherish for a lifetime. Outdoor locations available or in the comfort of your own home!
      </p>
      <p class="content-text">
        Nec reformidans ullamcorper cu, id nullam regione apeirian qui. Nulla nostrud insolens eum ad. In eos esse meliore efficiantur. Sea an putent nemore, dicunt oblique eloquentiam et ius, usu in movet aliquid sapientem. Alii nostro ut est, mea soluta lucilius te. Eum an nominati deseruisse, id lorem ancillae omittantur mea, et qui exerci quaestio dissentias.
      </p>
      <p class="content-text">
         Ad vis nulla debet altera, mei summo adipiscing at. Id quidam causae quo. Et dico placerat his. Pri et wisi vidisse, ad eros velit est, cu omnesque qualisque mel.
      </p>
    </div>
  </section>
</main>
