.carousel-wrapper {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .carousel-wrapper {
    padding-top: 40px;
    height: 700px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-wrapper {
    height: 540px;
  }
}
