.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .main-content {
    height: 360px;
  }
}

.sm-screen-only {
  display: none;
}

@media screen and (max-width: 540px) {
  .lg-screen-only {
    display: none;
  }

  .sm-screen-only {
    display: inherit;
  }
}
