<main>
  <section class="main-content">
    <!-- <img src="./assets/specials-1-md.jpg" alt="A collage of beautiful wedding photos." class="hero-img"> -->
    <div class="lg-screen-only">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FNLMPhoto%2Fvideos%2F1314868161925805%2F&show_text=0&width=500" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
    <div class="sm-screen-only">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FNLMPhoto%2Fvideos%2F1314868161925805%2F&show_text=0&width=240" width="280" height="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </section>
</main>
