#body-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  align-items: stretch;
}

.right-col {
  padding: 0;
  margin: 0;
  height: 100%;
  flex: 19;
}

.left-col {
  height: 100%;
  flex: 1;
  flex-basis: 170px;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.inner-content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .inner-content-wrapper {
    flex-direction: column;
  }
}
