.navbar-default {
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px #ccc;
}

.main-nav {
  text-align: right;
  padding: 0 20px 0 0;
  border-radius: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .main-nav {
    text-align: center;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    height: 100vh;
  }
}

.main-nav-li {
  list-style-type: none;
  margin: 10px 0;
  font-family: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.main-nav-brand {
  margin: 40px 0;
}

.main-nav-a {
  color: #737370;
}

.main-nav-a.active {
  font-weight: 700;
}

.main-nav-a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #BDA446;
}

.main-nav-a:visited,
.main-nav-a:enabled,
.main-nav-a:focus {
  text-decoration: none;
}

.instagram-nav,
.fb-nav {
  font-size: 20px;
}

.fb-nav {
  margin: auto 6px auto 12px;
}

.note-img {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .note-img {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .note-img {
    display: none;
  }
}
