<nav class="navbar navbar-default navbar-fixed-side main-nav">
  <img class="main-nav-brand" src="./assets/nlm-brand-md.png" alt="NLM Photography">
  <ul>
    <li class="main-nav-li"><a class="main-nav-a">HOME</a></li>
    <li class="main-nav-li"><a class="main-nav-a">PORTFOLIO</a></li>
    <li class="main-nav-li"><a class="main-nav-a">MEET NATASHA</a></li>
    <li class="main-nav-li"><a class="main-nav-a">THE EXPERIENCE</a></li>
    <li class="main-nav-li"><a class="main-nav-a">TESTIMONIALS</a></li>
    <li class="main-nav-li"><a class="main-nav-a">NEXT STEPS</a></li>
  </ul>
</nav>
