<nav class="navbar navbar-default navbar-fixed-side main-nav">
  <div class="main-nav-brand-wrapper">
    <img class="main-nav-brand" src="./assets/nlm-brand-md.png" alt="NLM Photography">
  </div>
  <ul class="main-nav-list">
    <li class="main-nav-li"><a class="main-nav-a" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
    <li class="main-nav-li"><a class="main-nav-a" routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
    <li class="main-nav-li"><a class="main-nav-a" routerLink="/meet-natasha" routerLinkActive="active">MEET NATASHA</a></li>
    <li class="main-nav-li"><a class="main-nav-a" routerLink="/the-experience" routerLinkActive="active">THE EXPERIENCE</a></li>
    <li class="main-nav-li"><a class="main-nav-a" routerLink="/events" routerLinkActive="active">SPECIAL EVENTS</a></li>
    <li class="main-nav-li"><a class="main-nav-a" routerLink="/next-steps" routerLinkActive="active">NEXT STEPS</a></li>
    <li class="main-nav-li">
      <a class="main-nav-a instagram-nav" tooltip="Instagram" placement="bottom">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <span class="sr-only">Instagram</span>
      </a>
      <a class="main-nav-a fb-nav" tooltip="Facebook" placement="bottom">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
  </ul>
  <img class="note-img" src="./assets/note.jpg" alt="Decorative Image">
</nav>
