<main>
  <section class="main-content">
    <div class="left-col">
      <img src="./assets/next-steps-banner-md.jpg" alt="Cowboy Boots" class="hero-img">
      <div class="contact-info-wrapper">
        <p class="contact-info-text">NLM Photography</p>
        <p class="contact-info-text">Yorkville, IL</p>
        <p class="contact-info-text">NLMPhotography@gmail.com</p>
        <p class="contact-info-text"><a class="phone-link" href="tel:+16304707005">(630) 470-7005</a></p>
      </div> <!-- contact-info-wrapper -->
    </div>
    <div class="right-col">
      <h2 class="content-header">Contact Natasha</h2>

      <p class="content-text">If you would like to book a session or get more information, feel free to contact me. I can be reached via phone, email, my facebook page, or fill out the form below.</p>

      <contact-form></contact-form>
    </div>
  </section>
</main>
