<main>
  <section class="main-content">
    <div class="left-col">
      <img src="./assets/next-steps-banner-md.jpg" alt="Cowboy Boots" class="hero-img">
      <div class="contact-info-wrapper">
        <p class="contact-info-text">NLM Photography</p>
        <p class="contact-info-text">Yorkville, IL</p>
        <p class="contact-info-text">NLMPhotography@gmail.com</p>
        <p class="contact-info-text"><a class="phone-link" href="tel:+16304707005">(630) 470-7005</a></p>
      </div> <!-- contact-info-wrapper -->
    </div>
    <div class="right-col">
      <h2 class="content-header">Contact Us</h2>

      <p class="content-text">Cras nisl tellus, malesuada et orci in, gravida dignissim nunc. Fusce et laoreet dui, a ullamcorper lorem. In non augue at est interdum vehicula.</p>

      <contact-form></contact-form>
    </div>
  </section>
</main>
