<main>
  <section class="main-content">
    <div class="left-col">
      <img src="./assets/next-steps-banner-md.jpg" alt="Cowboy Boots" class="hero-img">
    </div>
    <div class="right-col">
      <h2 class="content-header">Contact Us</h2>
      <p class="content-text">Cras nisl tellus, malesuada et orci in, gravida dignissim nunc. Fusce et laoreet dui, a ullamcorper lorem. In non augue at est interdum vehicula.</p>
      <p class="content-text">Pellentesque faucibus quis diam sed pretium. Maecenas posuere tincidunt felis sed dapibus. Pellentesque varius nibh ex, eu hendrerit sapien sodales in. Duis eu velit sit amet justo posuere mollis. Sed feugiat quis orci eu lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
      <h3 class="content-header">Form Below</h3>
    </div>
  </section>
</main>
