body {
  height: 100%;
}

.left-col {
  flex-direction: column;
}

.right-col {
  height: 100%;
  padding-bottom: 40px;
}

.contact-info-wrapper {
  text-align: center;
  margin: 20px auto;
}

.contact-info-text {
  margin: 0;
  color: #f5f4ef;
}

.content-text {
  margin: 0;
  padding: 0;
}

.phone-link {
  text-decoration: none;
}

.phone-link:hover,
.phone-link:visited,
.phone-link:enabled {
  text-decoration: none;
}
