/* left-col styles */
.portrait-img {
  margin-top: 20%;
}

.portrait-text {
  padding: 10px;
}

.portrait-wrapper: {
  display: block;
  width: 370px;
}

/* right-col style */
.sm-note-img {
  margin-top: 60px;
}

.bio-header {
  font-size: 16px;
  padding: 10px;
}

.bio-text {
  font-size: 14px;
  padding: 14px;
}
