<main>
  <section class="main-content">
    <div class="left-col">
      <div class="hero-wrapper">
        <img class="hero-img" src="./assets/nlm-portrait.jpg" alt="Portrait of Natasha">
        <p class="hero-text">Natasha L Maczko - Professional Photography with Style</p>
      </div>
    </div>
    <div class="right-col">
      <img class="sm-note-img" src="./assets/small-note.jpg" alt="Decorative Image">
      <h2 class="content-header">My name is Natasha Maczko. I have been doing professional photography for over 12 years.</h2>
      <p class="content-text">
        Between working for a studio and freelancing, I love to share my work. Past, present and future. My style is ever changing so feel free to check back time to time and for any specials or promotions
      </p>
      <p class="content-text">
        I have an in home studio located in Yorkville, IL. I also travel to on site locations. Whether they be in the comfort of your own home or to an outdoor location.
      </p>
      <p class="content-text">
        I mostly specialize in Weddings, Engagement, and Portrait sessions. But I also have experience with New Borns, Families, Seniors, Fashion Models and Bands. I also specialize in invite, thank you and Wedding Album design.
      </p>
      <p class="content-text">
        I am interested in everything and anything photography, to creating memories to cherish for a life time or to creating art to hang on your walls and admire, I feel blessed to have found my passion in life. I am a very open artist and I am always looking to grow and prosper as one. Capturing any event or moment is a true art form in itself.
      </p>
      <p class="content-text">
        Feel free to contact me at anytime for pricing or to book a session.
      </p>
    </div>
  </section>
</main>
